{% assign date_format = site.date_format | default: "%B %-d, %Y" %}

{% if page.cover-img %}
  <div id="header-big-imgs" data-num-img={% if page.cover-img.first %}{{ page.cover-img.size }}{% else %}1{% endif %}
    {% for bigimg in page.cover-img %}
    {% assign imgnum = forloop.index %}
    {% for imginfo in bigimg %}
    {% if imginfo[0] %}
      data-img-src-{{ imgnum }}="{{ imginfo[0] | absolute_url }}"
      data-img-desc-{{ imgnum }}="{{ imginfo[1] }}"
    {% else %}
      data-img-src-{{ imgnum }}="{{ imginfo | absolute_url }}"
    {% endif %}
    {% endfor %}
    {% endfor %}
  ></div>
{% endif %}

<header class="header-section {% if page.cover-img %}has-img{% endif %}">
<div class="intro-header {% if page.cover-img %} big-img {% endif %}{% if page.hero %} hero-header{% endif %}">
  {% if page.hero %}
  {% include hero.html %}
  {% elsif page.hide-title %}
  {% elsif page.cover-img or page.title %}
  <div class="container-md">
    <div class="row">
      <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1">
        <div class="{{ include.type }}-heading">
          {% if include.type == "post" and page.tags.size > 0 %}
            <a class="post-eyebrow" href="{{ '/tags/' | relative_url }}#{{ page.tags | first | slugify }}">{{ page.tags | first }}</a>
          {% endif %}
          <h1>{% if page.title %}{{ page.title | strip_html }}{% else %}<br/>{% endif %}</h1>
          {% if page.subtitle %}
            {% if include.type == "page" %}
              <hr class="small">
              <span class="{{ include.type }}-subheading">{{ page.subtitle | strip_html }}</span>
            {% else %}
              <h2 class="{{ include.type }}-subheading">{{ page.subtitle | strip_html }}</h2>
            {% endif %}
          {% endif %}
          
          {% if include.type == "post" %}
            {%- assign read_chars = page.content | strip_html | strip_newlines | size -%}
            {%- assign read_mins = read_chars | divided_by: 500 | plus: 1 -%}
            <div class="post-meta-row">
              {% if page.author %}
                <span class="meta-item"><i class="far fa-user" aria-hidden="true"></i> {{ page.author | strip_html }}</span>
              {% endif %}
              <span class="meta-item"><i class="far fa-calendar" aria-hidden="true"></i> <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y.%m.%d" }}</time></span>
              {% if page.last-updated %}
                <span class="meta-item"><i class="fas fa-rotate" aria-hidden="true"></i> {{ page.last-updated | date: "%Y.%m.%d" }} 수정</span>
              {% endif %}
              <span class="meta-item"><i class="far fa-clock" aria-hidden="true"></i> {{ read_mins }}분 읽기</span>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% if page.cover-img %}<span class='img-desc'></span>{% endif %}
</div>

{% if page.header-extra %}
  {% for file in page.header-extra %}
    {% include {{ file }} %}
  {% endfor %}
{% endif %}

</header>
